<div class="row">
  <div class="col-1">Vai trò</div>

  <div class="col-3">
    <% roles = current_store.roles.collect{|role| [role.name, role.id]} %>
    <% role = current_store.members.where(user_id: @user.id).first.role %>
    <%= select_tag 'member[role_id]', options_for_select(roles, role.present? ? role.id : ""), prompt: t(:prompt_role), class: "form-control form-control-sm"%>
  </div>
  <div class="col">
    <%= link_to fa_icon("edit", text: t(:edit)), "", class: "btn btn-success" %>
    <%= link_to fa_icon("paste", text: "Lưu thành vai trò mới"), "", class: "btn btn-info" %>
    <%= link_to fa_icon("plus", text: "Thêm vai trò mới"), new_role_path(user_id: @user.id), class: "btn btn-park text-white", remote: true %>
  </div>
</div>

<div>
  
</div>