toastr.options.closeButton = true;
<% if user_signed_in? && !@error %>
  toastr.success("Tạo nhóm hàng thành công");
  <% if params[:kind].eql?('save') %>
    var message = "<%= j render :partial => 'index_modal', locals: {tab: 'list'} %>";
  <% elsif params[:kind].eql?('cont') %>
    var message = "<%= j render :partial => 'index_modal', locals: {tab: 'new'} %>";
  <% end %>
  message = message.replace(/(?:\r\n|\r|\n)/g, '');
  $(".modal-body").html(message);

  // Update select from New product page
  $el = $("#product_product_group_id");
  $el.empty(); // remove old options
  $el.append($("<option></option>").attr("value", "").text("-- Chọn nhóm hàng nếu có --"));
  <% @product_groups.walk_tree do |group, level| %>
      $el.append($("<option></option>").attr("value", "<%= group.id %>").text("<%= "#{'--' * level} #{group.name}" %>"));
  <% end %>

<% else %>
  toastr.error("Tạo nhóm không thành công. Vui lòng thử lại hoặc xem trợ giúp");
<% end %>