<div class="text-center w-100" style="font-size: 100px; color: orange; margin-top: 100px;">
<%= fa_icon("lock") %>
</div>
<div class="text-center" style="font-size: 20px">
  Bạn không có quyền truy cập trang này, vui lòng liên hệ với chủ cửa hàng...
</div>