@import "bootstrap";
@import "font-awesome";
@import "toastr";
@import "home";
@import "manage";
@import "products";
@import "customers";

body {
  color: #565a5c;
  background-color: #ffffff;
  font-size: 0.9rem;
}

a {
  text-decoration: none !important;
  color: #0084b4;
  cursor: pointer;
}

.container-fluid {
  padding: 0;
}

.btn {
  font-size: 0.9rem;
}

.btn-link {
  color: #0084b4;
}

.btn-park {
  background-color: #0084b4;
}