@import "bootstrap/functions";
$custom-file-text: (
        en: "Browse",
        vi: "Ch·ªçn"
);
@import "bootstrap";
@import "font-awesome";
@import "toastr";
@import "home";
@import "manage";
@import "products";
@import "customers";
@import "sale";
@import "roles";
@import "purchases";
@import "lib/jquery-ui";

body {
  color: #565a5c;
  background-color: #ffffff;
  font-size: 0.9rem;
}

a {
  text-decoration: none !important;
  color: #0084b4;
  cursor: pointer;
}

.container-fluid {
  padding: 0;
}

.btn {
  font-size: 0.9rem;
}

.btn-link {
  color: #0084b4;
}

.btn-park {
  background-color: #0084b4;
}

.page-item.active .page-link {
  background-color: #0084b4;
}

.page-link {
  color: #0084b4;
}

#per_page {
  height: 36px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.modal-backdrop {
  opacity: .5 !important;
}

.manage-navbar {
  i {
    margin-right: 12px;
  }
}

.turbolinks-progress-bar {
  background-color: orange;
}