// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  .header {
    background-color: #f2f2f2;
    margin-bottom: 1px;

    .title {
      font-size: 1.3em;
      font-weight: bold;
      color: #0084b4;
    }

    .nav-item {
      margin-left: 10px;
    }

    .header-menu {
      font-size: 0.9rem;
    }

  }

  .notification {
    margin: 10px;

    .close {
      font-size: 1.2rem;
    }
  }

  .search {

  }

  .list {
    margin: 10px;
  }
}


.product {
  font-size: 0.9rem;

  & > a {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
  }

  .new-product-tabs {
    margin: 10px;
  }

  .tab-content {
    margin: 20px;
  }

  label {
    font-weight: bold;
  }

  .custom-select {
    padding-top: 3px !important;
  }

  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
  }
}

.product-groups {
  font-size: 0.9rem;

}

.preview-image-container-big {
  width: 168px;
  height: 168px;

  border: 1px dashed #dee2e6 !important;
  border-radius: .25rem !important;
  margin: 0.25rem !important;
}

.preview-image-container {
  width: 80px;
  height: 80px;

  border: 1px dashed #dee2e6 !important;
  border-radius: .25rem !important;
  margin: 0.25rem !important;
}

.preview-image-big {
  width: 166px;
  height: 166px;
  object-fit: cover;
  object-position: center;
}

.preview-image {
  width: 78px;
  height: 78px;
  object-fit: cover;
  object-position: center;
}

.product-show-image-big {
  max-width: 320px;
  max-height: 320px;
  object-fit: cover;
  object-position: center;
}

.product-show-image-icon {
  margin-bottom: 5px;
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  object-position: center;
}

.product-list-item {
  cursor: pointer;
}

.product-list-item img{
  cursor: pointer;
}