#purchase-app {
  .purchase-header {
    margin-bottom: 10px;
  }
  .purchase-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.purchase-status-created {

}

.purchase-status-purchased {
  color: green;
}

.purchase-status-cancel {
  color: red;
}

.status-canceled {
  color: red;
}