// Place all the styles related to the sale controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sale-container {
  height: calc(100vh - 46px);

  .wrap-container {
    height: 100%;
    background-color: #ebebeb;
  }

  .product-cart {
    height: calc(100% - 300px);
    transition: height 200ms ease-out;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 12px 20px;
  }

  .col-right {
    width: 363px;
    background-color: #fff;
    height: 100%;
    float: right;
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-left {
    margin-right: 363px;
    padding-right: 7px;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .chevron-btn {
    background-color: #0084b4;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: 300px;
    transition: top 200ms ease-out;
    padding: 2px 10px 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    line-height: 0;
    z-index: 1002;
  }

  .col-left.active .product-cart {
    height: 100%;
    transition: height 200ms ease-out;
  }

  .col-left.active .chevron-btn {
    bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .col-left.active .chevron-btn {
    outline: none;
    transition: all 200ms ease-out;
  }

  .nav-tabs > li .close {
    margin: -3px 0 0 10px;
    font-size: 24px;
    float: right;
  }

  .nav-tabs > li a[data-toggle=tab] {
    float: left!important;
  }

  #cart-tabs-content {
    margin-top: 10px;
  }

  .product-img {
    width: 100%;
    height: 77px;
    text-align: center;
    white-space: nowrap;
  }

  .product-price {
    font-weight: bold;
    color: #0084b4;
    display: inline-block;
    padding: 2px 3px;
    background-color: #ebebeb;
    position: absolute;
    left: 0;
    top: 53px;
    font-size: 12px;
  }

  .card-body {
    padding: 2px;
  }

  .card-text {
    height: 42px;
    min-height: 42px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .paid-price {
    color: #0084b4;
    font-size: 1.2rem;
    font-weight: bold;
  }

}

.fullscreen_invert {
  background-position-y: 0;
  background-position-x: -126px;
}

/* vue-loading-overlay */
@keyframes spinAround{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}.loading-overlay{bottom:0;left:0;position:absolute;right:0;top:0;-ms-flex-align:center;align-items:center;display:none;-ms-flex-pack:center;justify-content:center;overflow:hidden;z-index:999}.loading-overlay.is-active{display:-ms-flexbox;display:flex}.loading-overlay.is-full-page{position:fixed}.loading-overlay.is-full-page .loading-icon:after{top:calc(50% - 2.5em);left:calc(50% - 2.5em);width:5em;height:5em}.loading-overlay .loading-background{bottom:0;left:0;position:absolute;right:0;top:0;background:#fff;opacity:.5}.loading-overlay .loading-icon{position:relative}.loading-overlay .loading-icon:after{animation:spinAround .5s infinite linear;border:2px solid #777;border-radius:290486px;border-right-color:transparent;border-top-color:transparent;content:"";display:block;height:5em;position:relative;width:5em;position:absolute;top:calc(50% - 1.5em);left:calc(50% - 1.5em);width:3em;height:3em;border-width:.25em}
